@import '~styles/config';

.cta {
  @include segment(0);

  // margin-top: 100px;
  // margin-bottom: 200px;

  text-align: center;

  &__row {
    @include container;
    // @include grid-row;
    // flex-direction: column;
  }

  &__inner {
    // @include grid-col;
  }

  p {
    @include reset-heading;
    @include responsive-font(20, 52);

    // padding-top: 200px;
    margin-bottom: 40px;

    font-family: $font-family-heading;
    font-weight: 200;
    letter-spacing: -0.025em;
    line-height: (38/32);
    color: #000;
  }
}
