@import '~styles/config';

.navigation {
  display: flex;

  &__list {
    @include reset-list;

    display: flex;
    align-items: stretch;

    margin: 0 -($gutter / 2);
  }

  &__item {
    display: flex;
    align-items: center;

    padding: 0 ($gutter / 3);

    @media (min-width: $min-360) {
      padding: 0 ($gutter / 2);
    }
  }

  &__link {
    @include reset-anchor;

    padding: 5px 0;

    font-family: $font-family-akagi;
    font-size: 15px;
    color: $color-default;

    border-bottom: 1px solid transparent;

    transition: border $transition-leave;

    &:hover {
      border-color: fade($color-primary, 30%);

      transition-duration: $transition-enter;
    }

    &.active {
      border-color: $color-primary;
    }
  }
}
