@import '~styles/config';

.intro {
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: #fafafa;

  @media (min-width: $min-720) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__container {
    @include container;
  }

  &__row {
    @include grid-row;
  }

  h1 {
    @include heading;
    @include grid-col;
  }

  h2 {
    @include subheading;
    @include grid-col;
  }

  p {
    @include copy;
    @include grid-col;

    margin-top: 40px;

    @media (min-width: $min-720) {
      @include grid-col(5);
    }
  }
}
