@import '~styles/config';

.hero {
  @include segment;

  background: #93cfe3;
  background: #fe5830;

  &__container {
    @include container;

    display: flex;
    align-items: center;
  }

  &__row {
    @include grid-row;

    width: 100%;
  }

  &__content {
    @include grid-col;

    color: $color-default;
    color: #fff;

    @media (min-width: $min-tablet) {
      @include grid-col(7);
    }

    @media (min-width: $min-desktop) {
      @include grid-col(5);
    }
  }

  &__title {
    @include heading;
    color: inherit;
  }

  &__text {
    p {
      @include copy;
      color: inherit;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      @include reset-anchor;
      font-weight: 400;
    }
  }
}
